@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --shadow1: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --primary: #00a6fa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
