.forecastsContainer {
  display: flex;
  font-size: 0.95rem;
  overflow-x: scroll;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}

.dailyForecastContainer {
  position: relative;
  margin: 0.25rem;
}

.activeForecastSelector {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.activeForecastSelector:checked ~ .dailyForecast {
  box-shadow: 0 0 1px 3px var(--primary);
  transition: box-shadow 300ms ease-in;
}

.dailyForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  transition: box-shadow 300ms ease-in;
}

.dailyForecast p {
  margin: 0 0 0.25rem;
  font-weight: 500;
}

.forecastIcon {
  margin: 0.5rem;
  width: 27px;
}
