.searchListContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  animation: slideIn 500ms;
}

.weatherIcon {
  width: 40px;
  margin-left: 0.5rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(+50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
